.landingPage{
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: #fff;
    width: 100%;
}

.landingVideo{
    position: absolute;
    inset: 0;
    width: 100%;
    object-fit: cover;
    height: 100%
}

.landingText{
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-size: 35px;

}
.landingCommand{
    align-items: center;
    text-align: center;
    font-family: "Instrument Serif", serif;
}
.logo {
    height: 100px;
    display: inline-block;
}
.landingCta{
    text-decoration: none;
    background: #E9FF86;
    transition: transform .15s ease, box-shadow .15s ease;
}
.calltoAction{
    display: inline-block;
    padding: 14px 28px;
    border-radius: 800;
   

}
@media (max-width: 900px) {
    .landingSyncLine{font-size: 18px;}
    .landingHero{font-size: 40px;}
}