.overlay{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.modal{
    background:white ;
    width: 100%;
    max-width: 550px;
    border-radius: 20px;
    overflow: hidden;
}
.modalHeader{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
