.splitLoginPage{
    min-height: 100vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

/* left */
.loginLeft{
    background:#bccfbc;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}