.splitLoginPage{
    min-height: 100vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

/* left */
.loginLeft{
    background:#E9FF86;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}
.loginLeftText {
    max-width: 500px;
}
.loginWelcomeText{
    font-size: 64px;
    margin: 0;
    color: #0E0C0C;
    font-family: ;
}