.splitLoginPage{
    min-height: 100vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

/* left */
.loginLeft{
    flex:1;
    background:#E9FF86;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}
.loginLeftText {
    max-width: 500px;
}
.loginWelcomeText{
    font-size: 64px;
    margin: 0;
    font-weight: 600;
    color: #0E0C0C;
}
.loginWelcomeText em{
    font-style: italic;
    font-weight: 400;
}
.logo img{
    display: inline-block;
    vertical-align: middle;
}

/* right side */
.loginRight{
    flex: 1;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginSection{
    width: 100%;
    max-width: 400px;
}
.loginTitle{
    font-size: 20px;
    margin-bottom: 1rem;
}

.loginForm{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.formLabel{
    font-size: .70rem;
    color: #ddd2d2;
}
.formField{
    display: flex;
    flex-direction: column;
}
.input{
    border: 1px solid #FFB2E8;
    padding: 10px 12px;
    border-radius:10px;

}
.formLabel{
    font-size: .75rem;
    color:#0E0C0C;
    margin-bottom: 10px;
}

.loginButonn{
    margin-top: 6px;
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
    background-color: #E9FF86;
    color:#0E0C0C;
    
}