/* CSS RESET  from Bryan*/ 

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

html, body, #root{
    height: 100%;
}

body{
    margin: 0;
    font-family:'Poppins', system-ui, -apple-system, BlinkMacSystemFont,sans-serif; 
    height: 100%
}
.splitLoginPage{
    min-height: 100vh;
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

/* left */
.loginLeft{
    /* flex:1; */
    background:#E9FF86;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 60px;

}
.loginLeftText {
    max-width: 600px;
    width: 100%;
    
}
.welcomeText{
    font-family: 'Instrument Serif' ,serif;
    font-size: 74px;
    margin: 0;
    font-weight: 550;
    color: #0E0C0C;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.loginWelcomeText em{
    font-style: italic;
    font-weight: 400;
}
.logo img{
    display: inline-block;
    vertical-align: middle;
    width: 200px;
}

/* right side */
.loginRight{
    /* flex: 1; */
    background-color: rgb(241, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginSection{
    width: 100%;
    max-width: 500px;
}
.loginTitle{
    font-size: 20px;
    margin-bottom: 1rem;
    color: #FFB2E8;
}

.loginForm{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.formLabel{
    font-size: .70rem;
    color: #ddd2d2;
}
.formField{
    display: flex;
    flex-direction: column;
}
.input{
    border: 1px solid #FFB2E8;
    padding: 10px 12px;
    border-radius:10px;

}
.formLabel{
    font-size: .75rem;
    color:#0E0C0C;
    margin-bottom: 10px;
}

.loginButton{
    margin-top: 6px;
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
    background-color: #E9FF86;
    color:#0E0C0C;
}

/* mobile  */
@media (max-width: 950px){
    .splitLoginPage{
       grid-template-columns: 1fr;

    }
    .welcomeText{
        font-size: 60px;
        font-weight: 600;
    }
    .logo img {
      width: 100px;
    }
}

@media (min-width: 900px) and (max-width: 1250px){
  .welcomeText h1{
    font-size: 64px;
    font-weight: 600;
  }
  .logo img {
    width: 100px;
}}
