.projectSelect{
    display:inline-flex;
    align-items: center;
}
.projectSelectLabel{
    font-size: 16px;
    color: #0e0c0e;
    font-weight: 500;
}

.pickProjectSelect{
    appearance: none;
    border: 2px solid #ffb2e8;
    padding: 10px 12px;
    border-radius: 10px;
    background-color: white;
    padding: 14px 40px 14px 16px;
    font-size: 16px;
    font-family: 'Instrument-serif, serif';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 20 20'%3E%3Cpath fill='%230E0C0C' d='M5.5 7.5 10 12l4.5-4.5 1.4 1.4L10 14.8 4.1 8.9z'/%3E%3C/svg%3E");
    background-repeat: no-repeat ;
    background-position: right 16px center;

}

.pickProjectSelect:focus{
    outline: none;
    border-color: #ff7ac8;
    box-shadow: 0 0 0 3px;
}
.pickProjectSelect option[value="new-project"]{
    font-weight: 600;
    color: #ff7ac8;
}
.pillWrap{
    display: inline-block;
}
.pickProjectSelect{
    appearance: none;
    border: 1px solid #ffb2e8;
    background: #ffb2e8;
    color: #0e0e0e;
    font-family: 'Instrument Serif', serif;
    border-radius: 800px;
    padding: 12px 46px 10px 18px; 
    font-weight: 550;
    font-size: 18px;
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0.06);
    transition: transform 120ms ease, box-shadow 120ms ease;

  /*  dropdown arrow */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%230E0C0C' d='M5.5 7.5 10 12l4.5-4.5 1.4 1.4L10 14.8 4.1 8.9z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 22px center;
}

