.projectSelect{
    display:flex;
    gap: 10px;
    flex-direction: column;
    width: 320px;
}
.projectSelectLabel{
    font-size: 16px;
    color: #0e0c0e;
}
.pickProjectSelect{
    border: 1px solid #ffb2e8;
    padding: 10px 12px;
    border-radius: 10px;
    background-color: white;


}